/* MapComponent.css */
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.map {
    flex: 1;
    height: 100%;
    border-right: 5px solid white;
}

.zone-info {
    flex: 1;
    height: 100%;
    background: #f8f8f8;
    padding: 20px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
}